/*Contact Form*/
#contact {
  height: 650px;
}

#contact .container {
  padding: 20px 80px;
}

#contact__form .heading {
  padding-bottom: 20px;
}

#contact__form p {
  font-size: 18px;
  padding-bottom: 20px;
}

#contact__form .form__group {
  margin-bottom: 20px;
}

#contact__form .form__group label {
  display: block;
  padding-bottom: 10px;
}

#contact__form .form__group input,
#contact__form .form__group textarea {
  width: 100%;
  padding: 20px;
  border: 1px #ddd solid;
}

#contact__form .form__group textarea {
  height: 200px;
}

/* Contact Info */
#contact__info {
  height: 200px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact__info .contact__infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__infoBox .heading {
  color: #fff;
}
