@media screen and (max-width: 768px) {
  /* navbar */
  #navbar .container {
    padding: 20px 0;
    flex-direction: column;
  }
  #navbar .container h1 {
    margin-bottom: 30px;
    font-size: 25px;
  }
  #navbar .container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #navbar .container ul a {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  /*showcase*/

  #showcase h1 {
    font-size: 50px;
  }

  .showcase__box p {
    text-align: center;
  }

  /* info */

  #info {
    justify-content: center;
    align-items: center;
  }

  #info .info__box.left {
    display: none;
  }

  #info .info__box.right {
    width: 100% !important;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #info h2 {
    font-size: 21px;
  }

  #info a {
    margin-top: 15px;
  }

  /* features */
  #features {
    min-height: 600px;
    display: flex;
    flex-direction: column;
  }

  #features .features__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* about page */
  #about {
    height: 600px;
  }

  #about h2 {
    font-size: 26px;
  }

  #about .about__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #about p {
    font-size: 16px;
  }

  /* testimonials */

  #testimonials {
    height: 700px;
  }

  #testimonials p {
    line-height: 1.5em;
  }

  /* about */

  #about .container {
    display: flex;
    flex-direction: column;
  }

  #about .about__content {
    height: 450px;
  }

  #about .about__img {
    margin-bottom: 10px;
  }
}
