@media screen and (max-width: 768px) {
  /* navbar */
  #navbar .container {
    padding: 20px 0;
    flex-direction: column;
  }
  #navbar .container h1 {
    margin-bottom: 30px;
    font-size: 25px;
  }
  #navbar .container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #navbar .container ul a {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  /*showcase*/

  #showcase h1 {
    font-size: 50px;
  }

  .showcase__box p {
    text-align: center;
  }
}
