@import "reset.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*utility*/

.container {
  padding: 0 20px;
}

.bg__dark {
  background-color: #333;
}

.bg__light {
  background-color: #fff;
}

.bg__primary {
  background-color: #f7c08a;
}

.primary__text {
  color: #f7c08a;
}

.super__heading {
  font-size: 70px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 45px;
}

.big__heading {
  /*about, contact heading*/
}

.normal__heading {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 40px;
}

.small__heading {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-top: 15px;
  margin-bottom: 20px;
}

p {
  padding: 0 30px;
  margin-bottom: 30px;
}

.btn {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 13px 20px;
  cursor: pointer;
}

.btn__dark {
  background-color: #333;
  color: #fff;
}

.btn__dark:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn__light {
  background: #fff;
  color: #333;
}

.btn__light:hover {
  background: #f7c08a;
}

/*Navigation Bar*/

#navbar {
  background-color: #333333;
  padding: 0 20px;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .logo {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
}

#navbar ul a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
}

#navbar ul a:hover,
#navbar ul a.current {
  background-color: #444444;
  color: #f7c08a;
}

/*showcase*/

#showcase {
  background: url("../images/showcase.jpg") no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase__box {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase__box p {
  color: #fff;
  font-size: 20px;
}

/*info*/

#info {
  width: auto;
  height: 400px;
  display: flex;
}

#info .info__box.left {
  background: url("../images/photo-1.jpg");
  width: 50%;
  min-height: 100%;
}

#info .info__box.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info .info__box.right p {
  color: white;
  text-align: center;
  line-height: 1.5em;
}

/* Features */
#features {
  height: 250px;
  display: flex;
}

#features .features__box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__box p {
  text-align: center;
}

#footer {
  height: 50px;
  background: #444444;
  color: #fff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
